.patNameAddress,
.bibSearchtool {
	border: 0; 
}

.patFuncArea a:nth-child(5) {
	display: none;
}

.patFuncTitle a,
.patnameAddress a {
	color: #00549d;
	text-decoration: none;
}

.patFuncPickupLabel label {
	display:inline-block;
	text-indent: -999em;
	height: 0;
}
.patActionsLinks {
	text-align: right;
}
.patActionsLinks a {
	display: block;
}

.msg,
[color="RED"] {
	color: #333333 !important;
}

td#coverImage {
	width: 10% !important;
}

.bibInfoLabel {
	width: 20%;
}

.briefcitItems table {
	width: 100%;
}


.bibSearch form input[type="submit"],
.browseSearchtool input[type="submit"] {
	padding: .333em .75em;line-height:1.3125em;background-color: #0090D2; background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);border: 1px solid #4081af; border-bottom-color: #20559a;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);color: white;display: inline-block;font-weight:normal;text-decoration:none;cursor: pointer;font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bibItemsEntry td[width="24%"] {
	text-transform: lowercase;
}

.bibItemsEntry td[width="24%"]:first-letter {
	text-transform: capitalize;
}

.bibItemsEntry td[width="38%"] a {
	display: block;
	margin-top: .5em;
}

td.browsePager {
	text-align:right !important;
}

.bib_links a { color: #093A6D; }

#gvsu-library_search {
	padding: 0;
}

.libicon-001, .libicon-002, .libicon-003, .libicon-004, .libicon-005, .libicon-006, .libicon-007, .libicon-008, .libicon-009, .libicon-010, .libicon-011, .libicon-012, .libicon-013, .libicon-014, .libicon-015, .libicon-016, .libicon-017, .libicon-018, .libicon-019, .libicon-020, .libicon-021, .libicon-022, .libicon-023{
	background: url(//library.catalog.gvsu.edu/screens/sprites.png) no-repeat;
	display:inline-block;
	padding-left: .25em;
}

.libicon-001{
	background-position: 0 -1px ;
	width: 21px;
	height: 21px;
}

.libicon-002{
	background-position: 0 -28px ;
	width: 21px;
	height: 21px;
}

.libicon-003{
	background-position: 0 -50px ;
	width: 21px;
	height: 21px;
}

.libicon-004{
	background-position: 0 -77px ;
	width: 21px;
	height: 21px;
}

.libicon-005{
	background-position: 0 -100px ;
	width: 21px;
	height: 21px;
}

.libicon-006{
	background-position: 0 -127px ;
	width: 21px;
	height: 21px;
}

.libicon-007{
	background-position: -51px -128px ;
	width: 21px;
	height: 21px;
}

.libicon-008{
	background-position: -78px -128px ;
	width: 21px;
	height: 21px;
}

.libicon-009{
	background-position: -28px 0;
	width: 21px;
	height: 21px;
}

.libicon-010{
	background-position: -28px -28px ;
	width: 21px;
	height: 21px;
}

.libicon-011{
	background-position: -28px -50px ;
	width: 21px;
	height: 21px;
}

.libicon-012{
	background-position: -28px -78px ;
	width: 21px;
	height: 21px;
}

.libicon-013{
	background-position: -28px -100px ;
	width: 21px;
	height: 21px;
}

.libicon-014{
	background-position: -51px 0;
	width: 16px;
	height: 16px;
}

.libicon-015{
	background-position: -70px 0;
	width: 16px;
	height: 16px;
}

.libicon-016{
	background-position: -29px -128px ;
	width: 20px;
	height: 21px;
}

.libicon-017{
	background-position: -52px -21px ;
	width: 16px;
	height: 7px;
}

.libicon-018{
	background-position: -50px -50px ;
	width: 21px;
	height: 21px;
}

.libicon-019{
	background-position: -78px -50px ;
	width: 21px;
	height: 21px;
}

.libicon-020{
	background-position: -50px -78px ;
	width: 21px;
	height: 21px;
}

.libicon-021{
	background-position: -77px -78px ;
	width: 21px;
	height: 21px;
}

.libicon-022{
	background-position: -50px -100px ;
	width: 21px;
	height: 21px;
}

.libicon-023{
	background-position: -78px -100px ;
	width: 21px;
	height: 21px;
}

table.patfunc {
	margin-bottom: 1.5em;
}



.navigationRow,
.navigationrow {
	margin: 0;
	text-align: left !important;
	margin-top: 1em;
}

.msg {
	/*

	These styles are conflicting with the no matches found script. Removing them

	display: block;
	line-height: 1.5em;
	margin: 1em .5em;
	padding: 1em 1.6em;
	background: none repeat scroll 0% 0% #FFFF7F;
	border: 1px solid #CC6;
	text-align: left;
	color: #444;*/
	font-size: 1.4em;
}

.lib-button-small-grey {
	margin-bottom: .5em;
	font-size: 1.1em;
	padding: .1em .75em;
}
.melbutton {
	padding-left: 1.6em;
	background: url('//library.catalog.gvsu.edu/screens/libicon-016.png') no-repeat 1% 30%;
	background-color: #eee;
	height: 21px;
}

/* Better styles for the 856 field */
table.bib_links {
	margin-bottom: 2em;
}

table.bib_links th {
  display: none;
}

table.bib_links tr[align="center"] {
  text-align: left;
  line-height: 1.5em;
  font-size: 1.2em;
}
table.bib_links tbody tr:nth-child(2) td a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  transition: background-color 0.5s ease;
}

table.bib_links tr[align="center"] td::before {
  content: '\2022\0020\0020';
  font-weight: bold;
}

table.bib_links tr[align="center"]:nth-child(2) td::before {
  content: '';
}

table.bib_links tr[align="center"]:nth-child(3) td::before {
  content: 'Also Available In:\A\2022';
  white-space: pre;
  font-weight: bold;
}

table.bib_links tbody tr:nth-child(2) a:hover {
  background-color: #004875;
}

table.bib_links tbody tr:nth-child(2) a.lib-puppets,
table.bib_links tbody tr:nth-child(2) a.lib-puppets:hover {
	background-color: #fff;
}

/* MARC Button */
#marc-link {
	display: inline-block;
	margin-left: 1%;
}

.bibRecordLink a {
  padding-right: 1%;
}
